.invisible {
  visibility: hidden;
}

h3 {
  margin-top: 2rem;
}

input[type="button"] {
  margin-bottom: 0;
}

iframe{
  width:100%;
}

#sideBar {
  height: 100%;

}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
